.loop {
  overflow: hidden;
}
.loop:nth-child(1) {
  border: solid red 1px;
  padding-left: 1.4px;
}
.loop:nth-child(2) {
  border: solid red 1px;
  padding-left: 2.8px;
}
.loop:nth-child(3) {
  border: solid red 1px;
  padding-left: 4.2px;
}
.loop:nth-child(4) {
  border: solid red 1px;
  padding-left: 5.6px;
}
.loop:nth-child(5) {
  border: solid red 1px;
  padding-left: 7px;
}
.loop:nth-child(6) {
  border: solid red 1px;
  padding-left: 8.4px;
}
.loop:nth-child(7) {
  border: solid red 1px;
  padding-left: 9.8px;
}
.loop:nth-child(8) {
  border: solid red 1px;
  padding-left: 11.2px;
}
.loop:nth-child(9) {
  border: solid red 1px;
  padding-left: 12.6px;
}
.loop:nth-child(10) {
  border: solid red 1px;
  padding-left: 14px;
}
.loop:nth-child(11) {
  border: solid red 1px;
  padding-left: 15.4px;
}
.loop:nth-child(12) {
  border: solid red 1px;
  padding-left: 16.8px;
}
.loop:nth-child(13) {
  border: solid red 1px;
  padding-left: 18.2px;
}
.loop:nth-child(14) {
  border: solid red 1px;
  padding-left: 19.6px;
}
.loop:nth-child(15) {
  border: solid red 1px;
  padding-left: 21px;
}
.loop:nth-child(16) {
  border: solid red 1px;
  padding-left: 22.4px;
}
.loop:nth-child(17) {
  border: solid red 1px;
  padding-left: 23.8px;
}
.loop:nth-child(18) {
  border: solid red 1px;
  padding-left: 25.2px;
}
.loop:nth-child(19) {
  border: solid red 1px;
  padding-left: 26.6px;
}
.loop:nth-child(20) {
  border: solid red 1px;
  padding-left: 28px;
}
.loop:nth-child(21) {
  border: solid red 1px;
  padding-left: 29.4px;
}
.loop:nth-child(22) {
  border: solid red 1px;
  padding-left: 30.8px;
}
.loop:nth-child(23) {
  border: solid red 1px;
  padding-left: 32.2px;
}
.loop:nth-child(24) {
  border: solid red 1px;
  padding-left: 33.6px;
}
.loop:nth-child(25) {
  border: solid red 1px;
  padding-left: 35px;
}
.loop:nth-child(26) {
  border: solid red 1px;
  padding-left: 36.4px;
}
.loop:nth-child(27) {
  border: solid red 1px;
  padding-left: 37.8px;
}
.loop:nth-child(28) {
  border: solid red 1px;
  padding-left: 39.2px;
}
.loop:nth-child(29) {
  border: solid red 1px;
  padding-left: 40.6px;
}
.loop:nth-child(30) {
  border: solid red 1px;
  padding-left: 42px;
}
.loop:nth-child(31) {
  border: solid red 1px;
  padding-left: 43.4px;
}
.loop:nth-child(32) {
  border: solid red 1px;
  padding-left: 44.8px;
}
.loop:nth-child(33) {
  border: solid red 1px;
  padding-left: 46.2px;
}
.loop:nth-child(34) {
  border: solid red 1px;
  padding-left: 47.6px;
}
.loop:nth-child(35) {
  border: solid red 1px;
  padding-left: 49px;
}
.loop:nth-child(36) {
  border: solid red 1px;
  padding-left: 50.4px;
}
.loop:nth-child(37) {
  border: solid red 1px;
  padding-left: 51.8px;
}
.loop:nth-child(38) {
  border: solid red 1px;
  padding-left: 53.2px;
}
.loop:nth-child(39) {
  border: solid red 1px;
  padding-left: 54.6px;
}
.loop:nth-child(40) {
  border: solid red 1px;
  padding-left: 56px;
}
.loop:nth-child(41) {
  border: solid red 1px;
  padding-left: 57.4px;
}
.loop:nth-child(42) {
  border: solid red 1px;
  padding-left: 58.8px;
}
.loop:nth-child(43) {
  border: solid red 1px;
  padding-left: 60.2px;
}
.loop:nth-child(44) {
  border: solid red 1px;
  padding-left: 61.6px;
}
.loop:nth-child(45) {
  border: solid red 1px;
  padding-left: 63px;
}
.loop:nth-child(46) {
  border: solid red 1px;
  padding-left: 64.4px;
}
.loop:nth-child(47) {
  border: solid red 1px;
  padding-left: 65.8px;
}
.loop:nth-child(48) {
  border: solid red 1px;
  padding-left: 67.2px;
}
.loop:nth-child(49) {
  border: solid red 1px;
  padding-left: 68.6px;
}
.loop:nth-child(50) {
  border: solid red 1px;
  padding-left: 70px;
}
.loop:nth-child(51) {
  border: solid red 1px;
  padding-left: 71.4px;
}
.loop:nth-child(52) {
  border: solid red 1px;
  padding-left: 72.8px;
}
.loop:nth-child(53) {
  border: solid red 1px;
  padding-left: 74.2px;
}
.loop:nth-child(54) {
  border: solid red 1px;
  padding-left: 75.6px;
}
.loop:nth-child(55) {
  border: solid red 1px;
  padding-left: 77px;
}
.loop:nth-child(56) {
  border: solid red 1px;
  padding-left: 78.4px;
}
.loop:nth-child(57) {
  border: solid red 1px;
  padding-left: 79.8px;
}
.loop:nth-child(58) {
  border: solid red 1px;
  padding-left: 81.2px;
}
.loop:nth-child(59) {
  border: solid red 1px;
  padding-left: 82.6px;
}
.loop:nth-child(60) {
  border: solid red 1px;
  padding-left: 84px;
}
.loop:nth-child(61) {
  border: solid red 1px;
  padding-left: 85.4px;
}
.loop:nth-child(62) {
  border: solid red 1px;
  padding-left: 86.8px;
}
.loop:nth-child(63) {
  border: solid red 1px;
  padding-left: 88.2px;
}
.loop:nth-child(64) {
  border: solid red 1px;
  padding-left: 89.6px;
}
.loop:nth-child(65) {
  border: solid red 1px;
  padding-left: 91px;
}
.loop:nth-child(66) {
  border: solid red 1px;
  padding-left: 92.4px;
}
.loop:nth-child(67) {
  border: solid red 1px;
  padding-left: 93.8px;
}
.loop:nth-child(68) {
  border: solid red 1px;
  padding-left: 95.2px;
}
.loop:nth-child(69) {
  border: solid red 1px;
  padding-left: 96.6px;
}
.loop:nth-child(70) {
  border: solid red 1px;
  padding-left: 98px;
}
.loop:nth-child(71) {
  border: solid red 1px;
  padding-left: 99.4px;
}
.loop:nth-child(72) {
  border: solid red 1px;
  padding-left: 100.8px;
}
.loop:nth-child(73) {
  border: solid red 1px;
  padding-left: 102.2px;
}
.loop:nth-child(74) {
  border: solid red 1px;
  padding-left: 103.6px;
}
.loop:nth-child(75) {
  border: solid red 1px;
  padding-left: 105px;
}
.loop:nth-child(76) {
  border: solid red 1px;
  padding-left: 106.4px;
}
.loop:nth-child(77) {
  border: solid red 1px;
  padding-left: 107.8px;
}
.loop:nth-child(78) {
  border: solid red 1px;
  padding-left: 109.2px;
}
.loop:nth-child(79) {
  border: solid red 1px;
  padding-left: 110.6px;
}
.loop:nth-child(80) {
  border: solid red 1px;
  padding-left: 112px;
}
.loop:nth-child(81) {
  border: solid red 1px;
  padding-left: 113.4px;
}
.loop:nth-child(82) {
  border: solid red 1px;
  padding-left: 114.8px;
}
.loop:nth-child(83) {
  border: solid red 1px;
  padding-left: 116.2px;
}
.loop:nth-child(84) {
  border: solid red 1px;
  padding-left: 117.6px;
}
.loop:nth-child(85) {
  border: solid red 1px;
  padding-left: 119px;
}
.loop:nth-child(86) {
  border: solid red 1px;
  padding-left: 120.4px;
}
.loop:nth-child(87) {
  border: solid red 1px;
  padding-left: 121.8px;
}
.loop:nth-child(88) {
  border: solid red 1px;
  padding-left: 123.2px;
}
.loop:nth-child(89) {
  border: solid red 1px;
  padding-left: 124.6px;
}
.loop:nth-child(90) {
  border: solid red 1px;
  padding-left: 126px;
}
.loop:nth-child(91) {
  border: solid red 1px;
  padding-left: 127.4px;
}
.loop:nth-child(92) {
  border: solid red 1px;
  padding-left: 128.8px;
}
.loop:nth-child(93) {
  border: solid red 1px;
  padding-left: 130.2px;
}
.loop:nth-child(94) {
  border: solid red 1px;
  padding-left: 131.6px;
}
.loop:nth-child(95) {
  border: solid red 1px;
  padding-left: 133px;
}
.loop:nth-child(96) {
  border: solid red 1px;
  padding-left: 134.4px;
}
.loop:nth-child(97) {
  border: solid red 1px;
  padding-left: 135.8px;
}
.loop:nth-child(98) {
  border: solid red 1px;
  padding-left: 137.2px;
}
.loop:nth-child(99) {
  border: solid red 1px;
  padding-left: 138.6px;
}
.loop:nth-child(100) {
  border: solid red 1px;
  padding-left: 140px;
}
