<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>Node & Angular</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../public/lib/bootstrap/dist/css/bootstrap.css">


    <script src="../public/lib/jquery/dist/jquery.js"></script>
    <script src="../public/lib/angular/angular.js"></script>

    <script>
        var app = angular.module("myApp", []);
    </script>

</head>

<body>
    <div class="container">
        <div class="col-md-12">
            <h1>{{title}}</h1>
            <input type="text" class="form-control" ng-model="name">
            <p ng-bind="name">

            </p>
        </div>
    </div>
</body>

</html>