.float-right-top{
	position: fixed;
	top: 5em;
	right: 1em;
	z-index: 10;
}

footer{
	//border: solid red 1px;
	background-color: #333;
	color: #fff;
	padding-top: 1em;
	padding-bottom: 1em;
}
footer p{
	margin: 0;
	padding: 0;
}

.table-show-products img{
	max-height: 200px;
	max-width: 100%;
	margin: 0 auto;
}
.table-show-products strong{
	font-size: 1.2em;
}

.table-show-products tbody tr:first-child td{
	width: 40% !important;
	text-align: center;
}
	
.table-show-products tbody tr td{
	text-align: left;
	//vertical-align: middle;
}
.padd{
	padding: 1em;
	
}

.table-show-products{
	box-shadow: 0px 0px 20px #AAA;
	
}

.show-rating-table tr td img{

}
.show-rating-table tr td{
	vertical-align: middle;
}
.show-rating-table tr td:first-child{
	text-align: center;	
	width: 25%;
	font-size:1em;
	
}

.show-images > div{
	height: 220px;
	border: solid blue 1px;
	position: relative;
	
	display: table-cell;
    vertical-align: middle;
}
.show-images img{
	max-height: 200px;
	max-width: 95%;
	border: solid red 1px;
}

@media screen and (min-width: 995px){
	// .sidebar{
	// 	position: fixed;
	// }
}