<head>
    <title>NodeJS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/style.less" rel="stylesheet/less">
    <script src="public/lib/less/dist/less.js"></script>
    <script src="public/lib/jquery/dist/jquery.min.js"></script>
</head>